/* Общие стили */
body {
  font-family: Arial, sans-serif;
  color: #4f4f4f;
  background-color: #ebebeb;
}

/* Обвёртка */
.wrapper {
  max-width: 980px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* sidebar */
.column {
  display: flex;
  height: 100%;
  margin: 0 -10px;

  &--sm-med {
    .column__medium {
      padding-right: 0;
      width: calc((100% / 1.5) + 10px);
    }

    .column__small {
      padding-left: 0;
      width: calc((100% / 3) - 10px);
    }
  }

  &__medium {
    width: calc(100% / 1.5);
    height: 100%;
    box-sizing: border-box;
    padding: 0 10px;
  }

  &__small {
    width: calc(100% / 3);
    height: 100%;
    box-sizing: border-box;
    padding: 0 10px;
  }
}