.photos {
  padding: 15px 0 20px;

  &--no-padding {
    padding: 0;
  }

  .wrapper {

  }

  &__content {
    display: flex;
  }

  .column {
    @include breakpointmedia($media-768, 'max-width') {
      flex-direction: column;

      & > * {
        width: 100%;
      }
    }
  }

  &__item {
    position: relative;
    min-height: 380px;
    background: #fff;
    overflow: hidden;

    @include breakpointmedia($media-768, 'max-width') {
      min-height: auto;
      margin-bottom: 20px;
    }

    &--middle {
      min-height: auto;
      margin-bottom: 30px;
      border: 1px solid #dedede;

      &:last-of-type {
        margin-bottom: 0;
      }

      .photos__image {
        height: auto;
      }

      .photos__info {
        padding: 30px 50px 25px;

        @include breakpointmedia($media-768, 'max-width') {
          padding: 20px;
        }

        h6 {
          margin: 0 0 22px;

          a {
            font-size: 30px;

            @include breakpointmedia($media-768, 'max-width') {
              font-size: 18px;
            }
          }
        }

        p {
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 34px;
          line-height: 24px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &--black {
      background-color: #373737;

      .photos__image {
        height: auto;

        @include breakpointmedia($media-768, 'max-width') {
          height: 190px;
        }
      }

      .photos__info {
        padding: 30px 25px 40px;

        @include breakpointmedia($media-768, 'max-width') {
          padding: 20px;
        }

        h6 a,
        p {
          color: #ffffff;
        }
      }
    }
  }

  &__plus {
    display: inline-block;
    width: 78px;
    height: 78px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/span.png) no-repeat;
  }

  &__image {
    display: block;
    font-size: 0;
    height: 190px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 20px 25px;

    h6 {
      margin: 0 0 18px;

      a {
        display: block;
        font-size: 25px;
        font-weight: bold;
        color: #4f4f4f;
        text-decoration: none;

        @include breakpointmedia($media-768, 'max-width') {
          font-size: 18px;
        }
      }
    }

    p {
      margin: 0;
      color: #646464;
      font-size: 12px;
      line-height: 24px;
    }
  }

  &__like {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    height: 42px;
    background: #efefef;
    color: #a2a2a2;
    padding: 0 28px;
    box-sizing: border-box;
    border-top: 1px solid #dedede;

    span {
      &:nth-of-type(2) {
        display: inline-block;
        width: 32px;
        background: url(../images/like.png) no-repeat right;
      }
    }
  }
}